<form
[formGroup]="simpleForm"
style="margin:50px;"
(submit)="submitForm()"
>
<mat-form-field appearance="fill">
  <mat-label>Enter your Name</mat-label>
  <input matInput placeholder="John" formControlName="name" required />
  <mat-error *ngIf="name?.invalid">{{ getNameErrorMessage() }}</mat-error>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Enter your email</mat-label>
  <input
    matInput
    placeholder="john@example.com"
    formControlName="email"
    required
  />
  <mat-error *ngIf="email?.invalid">{{
    getEmailErrorMessage()
  }}</mat-error>
</mat-form-field>
<button type="submit" mat-raised-button color="accent">Submit</button>
</form>

<app-text></app-text>
